
.add-task-form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.add-task-input{
  background-color: var(--list-background);
  border-radius: 5px;
  border: 1px solid var(--border-color);
  color: var(--button-text-color);
  margin-left:0;
  width: 28rem;
  height: 3rem;
  text-indent: 1rem;
  margin: 0.2rem;
}

.add-task-input:focus{
  color: var(--todo-text-color);
}

.add-button {
  font-size: 1rem;
  width: 2.5rem;
  height: 2.8rem;
  margin-left: 0.3rem;
  background-color: var(--list-background);
  border-radius: 3px;
  border: 1px solid var(--border-color);
}

@media screen and (max-width: 375px) {
  .add-button {
    margin-left: 0;
    padding: 0.2rem;
  }
}