/* accessibly hide characters from buttons*/

.visually-hidden {
  position: absolute !important;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  white-space: nowrap;
}

/* styles */

.App {
  color:var(--todo-text-color);
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  height: 100vh;
  transition: all .2s;
}

.wrapper {
  display: block;
  margin: 0 auto;
  padding-top: 2rem;
  width: 31rem;
}

button, input {
    font-family: inherit;
    font-size: 100%;
    box-sizing: inherit;
    padding: 0;
    margin: 0;
  } 
  
button {
    color: var(--button-text-color);
    font-weight: 400;
    border: none;
    background-color: transparent;
    transition: all .2s;
}

button:hover {
    color: var(--todo-text-color)
}

header {
    display: flex;
    justify-content: space-between;
}

h1 {
    color:hsl(0, 0%, 98%);
    margin-left: 1rem;
    letter-spacing: 0.7rem;
}

.theme-btn {
  color: hsl(0, 0%, 98%);
  width: 1.5rem;
  height: 1.5rem;
}

.todo-list-and-buttons-wrapper {
  position: relative;
  margin-top: 1rem;
  border-radius: 5px;
  background-color: var(--list-background);
  border: 1px solid var(--border-color);
  box-shadow: var(--main-box-shadow);
  transition: all .2s;
}

.todo-list{
  margin-top: 0;
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

.buttons-wrapper{
    height: 3rem;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly
  }
  
.task-counter {
  color:var(--button-text-color);
  padding-right: 1.6rem;
}

.clear-completed-btn {
  padding-left: 1.6rem;
}

@media screen and (max-width: 375px) {
  .App {
    background-image: var(--background-mobile-image);
    font-size: 0.8rem;
  }

  .wrapper {
    width: 85vw;
  }

  h1 {
    font-size: 1.7rem;
  }

  .buttons-wrapper {
    display: grid;
    font-size: 0.8rem;
    grid-template-columns: 1fr 5rem 1fr;
    grid-template-rows: repeat(2, 3rem);
    row-gap: 1rem;
  }

  .task-counter {
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    padding-right: 0;
  }

  .clear-completed-btn {
    grid-column: 3;
    grid-row: 1;
    padding-left: 0;
  }

  .filter-button-wrapper {
    justify-self: center;
    background-color: var(--list-background);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    grid-column: 1/4;
    grid-row: 2;
    height: 3rem;
    padding: 0 4rem;
    box-shadow: var(--sub-box-shadow);
    transition: all .2s;
  }

  .filter-button {
    padding: 1rem 0.7rem;
  }
}