* {
  box-sizing: border-box;
}

body {
  display: block;
  margin: 0 auto;
  width: 1440px;
  font-size: 18px;
  color:hsl(235, 19%, 35%);
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
- Very Light Gray: hsl(0, 0%, 98%)
- Very Light Grayish Blue: hsl(236, 33%, 92%)
- Light Grayish Blue: hsl(233, 11%, 84%)
- Dark Grayish Blue: hsl(236, 9%, 61%)
- Very Dark Grayish Blue: hsl(235, 19%, 35%) */

button, input {
  font-family: inherit;
  font-size: 100%;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
} 

button {
  color: hsl(236, 9%, 61%);
  font-weight: 400;
  border: none;
  background-color: white;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  white-space: nowrap;
}

.App {
  display: block;
  width: 31rem;
  margin: 0 auto;
  background-color: rgb(184, 184, 248);
}

header {
  display: flex;
}

h1 {
  color:hsl(0, 0%, 98%);
  margin-left: 1rem;
  letter-spacing: 0.7rem;
}

.add-task-form {
  background-color: lavenderblush;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.add-task-input{
  border-radius: 5px;
  border: 1px solid hsl(233, 11%, 84%);
  margin-left:0;
  width: 28rem;
  height: 3rem;
  text-indent: 1rem;
}

.add-button {
  width: 3.4rem;
  height: 2.3rem;
}

.todo-list-and-buttons-wrapper {
  margin-top: 1.5rem;
  border-radius: 5px;
  background-color: lavenderblush;
}

.todo-list{
  margin-top: 0;
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

input[type='checkbox']{
  appearance: none;
  position: relative;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  border:1px solid hsl(233, 11%, 84%);
}

input[type='checkbox']:checked{
  background: linear-gradient(hsl(192, 100%, 67%),hsl(280, 87%, 65%));
  
}

input[type='checkbox']::before{
  content: '✔︎';
  position: absolute;
  font-size: 0.8rem;
  color: white;
  right: 0.2rem;
  top: 0.2rem;
  visibility: hidden;
}

input[type='checkbox']:checked::before{
  visibility: visible;
}

.todo-item{
  border-bottom: 1px solid hsl(233, 11%, 84%);
  height: 3rem;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-text {
  display: inline-block;
  width: 21rem;
  padding-left: 0.8rem;
}

.buttons-wrapper {
  height: 3rem;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.filter-buttons {
  font-weight: 700;
}

.filter-buttons:focus, .filter-buttons:hover {
  color:hsl(220, 98%, 61%);
}

.task-counter {
  color:hsl(236, 9%, 61%);
}

footer {
  height: 5rem;
}