* {
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
  width: 1440px;
  font-size: 18px;
  color:hsl(235, 19%, 35%);
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --background: hsl(0, 0%, 98%);
  --background-image: url(../images/bg-desktop-light.jpg);
  --list-background: white;
  --text-primary:hsl(235, 19%, 35%);
  --text-secondary: hsl(236, 9%, 61%);
  --accent-primary: hsl(233, 11%, 84%);
  --accent-secondary:hsl(236, 33%, 92%);
}

[data-theme='dark']{
  --background: hsl(235, 21%, 11%);
  --background-image: url(../images/bg-desktop-dark.jpg);
  --listbackground: hsl(235, 24%, 19%);
  --text-primary:hsl(235, 19%, 35%);
  --text-secondary: hsl(236, 9%, 61%);
  --accent-primary: hsl(233, 11%, 84%);
  --accent-secondary:hsl(236, 33%, 92%);
}

/* dark
- Very Dark Blue: hsl(235, 21%, 11%)
- Very Dark Desaturated Blue: hsl(235, 24%, 19%)
- Light Grayish Blue: hsl(234, 39%, 85%)
- Light Grayish Blue (hover): hsl(236, 33%, 92%)
- Dark Grayish Blue: hsl(234, 11%, 52%)
- Very Dark Grayish Blue: hsl(233, 14%, 35%)
- Very Dark Grayish Blue: hsl(237, 14%, 26%)
*/

/* light
- Very Light Gray: hsl(0, 0%, 98%)
- Very Light Grayish Blue: hsl(236, 33%, 92%)
- Light Grayish Blue: hsl(233, 11%, 84%)
- Dark Grayish Blue: hsl(236, 9%, 61%)
- Very Dark Grayish Blue: hsl(235, 19%, 35%) */