* {
  box-sizing: border-box;
}

:root {
  --background-color: hsl(0, 0%, 98%);
  --background-image: url(../images/bg-desktop-light.jpg);
  --background-mobile-image: url(../images/bg-mobile-light.jpg);
  --list-background: white;
  --todo-text-color:hsl(235, 19%, 35%);
  --button-text-color: hsl(236, 9%, 61%);
  --button-hover-color:hsl(235, 19%, 35%);
  --checkbox-border-color: hsl(233, 11%, 84%);
  --border-color:hsl(236, 33%, 92%);
}

[data-theme='dark']{
  --background-color: hsl(235, 21%, 11%);
  --background-image: url(../images/bg-desktop-dark.jpg);
  --background-mobile-image: url(../images/bg-mobile-dark.jpg);
  --list-background: hsl(235, 24%, 19%);
  --todo-text-color:hsl(234, 39%, 85%);
  --button-text-color: hsl(234, 11%, 52%);
  --button-hover-color:hsl(236, 33%, 92%);
  --checkbox-border-color: hsl(233, 14%, 35%);
  --border-color:hsl(237, 14%, 26%);
}

body {
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}



/* 
dark
- Very Dark Blue: hsl(235, 21%, 11%)
- Very Dark Desaturated Blue: hsl(235, 24%, 19%)
- Light Grayish Blue: hsl(234, 39%, 85%)
- Light Grayish Blue (hover): hsl(236, 33%, 92%)
- Dark Grayish Blue: hsl(234, 11%, 52%)
- Very Dark Grayish Blue: hsl(233, 14%, 35%)
- Very Dark Grayish Blue: hsl(237, 14%, 26%)

light
- Very Light Gray: hsl(0, 0%, 98%)
- Very Light Grayish Blue: hsl(236, 33%, 92%)
- Light Grayish Blue: hsl(233, 11%, 84%)
- Dark Grayish Blue: hsl(236, 9%, 61%)
- Very Dark Grayish Blue: hsl(235, 19%, 35%) */